@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: #1e1e1e;
  color: #ffffff;
}
/* for navbar */
nav {
  padding: 1rem;
  border-bottom: 1px solid white;
  margin-bottom: 1rem;
}
/* body container */
.mainDiv {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
}
/* for a single item in home */
.items {
  border: 1px solid white;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
/* for texts in  home */
.texts {
  opacity: 0.5;
}
/* for imgs in home */
#imgs {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
/*for details item  */
.item {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
/* for item img */
#img {
  height: 200px;
  width: 200px;
  border-radius: 8px;
}

/* Media query for mobile view */
@media (max-width: 767px) {
  .mainDiv {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 8px;
    padding: 8px;
  }

  .items {
    padding: 8px;
  }
}
